body{
    background-color: papayawhip;
}
.a:hover{
    color: goldenrod;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: x-large;
}
.b{
    color:black;
    font-family: cursive;
    text-align: justify;
    font-size: medium;
    font-weight: normal;
}
h3{
    color: brown;
    font-weight: bold;
    font-style: italic;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
}
.button{
    display: inline-block;
    margin: top 10px;
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: red;
    padding: 10px 20px;
    border-radius: 20px;

}
.menu{
    background: grey;
    text-align: center;
    
}
.menu ul{
    list-style: none;
    display: inline-flex;
}
.menu ul li{
    width: 150px;
    margin: 15px;
    padding: 15px;
}
.menu ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
