body{
    background-color: papayawhip;
}
.a:hover{
    color: goldenrod;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: x-large;
}
.b{
    color:palevioletred;
    font-family: cursive;
    text-align: justify;
    font-size: medium;
    font-weight: normal;
}
h3{
    color: brown;
    font-weight: bold;
    font-style: italic;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
}
.button{
    display: inline-block;
    margin: top 10px;
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: red;
    padding: 10px 20px;
    border-radius: 20px;

}
