*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: papayawhip;
}
.a:hover{
    color: goldenrod;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: x-large;
}
.b{
    color:black;
    font-family: cursive;
    text-align: justify;
    font-size: medium;
    font-weight: normal;
}
h3{
    color: brown;
    font-weight: bold;
    font-style: oblique;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
}
.button{
    display: inline-block;
    margin: top 10px;
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: red;
    padding: 10px 20px;
    border-radius: 20px;

}
.menu{
    background: grey;
    text-align: center;
    
}
.menu ul{
    list-style: none;
    display: inline-flex;
}
.menu ul li{
    width: 150px;
    margin: 15px;
    padding: 15px;
}
.menu ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.fa{
    margin-right: 5px;
}
.menu ul li:hover,
.active{
    background-color: goldenrod;
}
.dropdown{
    display: none;
}
.menu ul li:hover .dropdown{
    display: block;
    position: absolute;
    background-color: rgb(50,50,50);
    margin-top: 15px;
    margin-left: -30px;
}
.menu ul li:hover .dropdown ul{
    display: block;

}
.menu ul li:hover .dropdown ul li{
    background: transparent;
    border-bottom: 1px solid goldenrod;
    width: 150px;
}
.menu ul li:hover .dropdown ul li a:hover{
    color: goldenrod;
}

